@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body {
    background-color: rgb(231, 236, 239);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #222831;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea {
    background-color: rgb(231, 236, 239);
    height: 18px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
