<div class="background">
    <form autocomplete="off" class="register-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h1>Sign up!</h1>
      <p>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Username*" formControlName="username">
          <mat-error *ngIf="username.hasError('required')">Username is <strong>required</strong></mat-error>
          <mat-error *ngIf="username.hasError('minlength')">Username must have at least {{minPwLength}} characters</mat-error>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Email*" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="First name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Last name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput type="city" placeholder="City" formControlName="city">
          <mat-error *ngIf="city.hasError('required')">City is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput type="address" placeholder="Address" formControlName="address">
          <mat-error *ngIf="address.hasError('required')">Address is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput type="password" placeholder="Password*" formControlName="password" (input)="onPasswordInput()">
          <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPwLength}} characters</mat-error>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput type="password" placeholder="Repeat password*" formControlName="password2"
                 (input)="onPasswordInput()">
          <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
          <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
        </mat-form-field>
      </p>
      <button mat-raised-button class="button"><span>Get started! </span></button>
      <div *ngIf="errorText!=null" class="register-error-text">
        <a>{{errorText}}</a>
      </div>
      <mat-spinner class="spinner" diameter=50 *ngIf="loading"></mat-spinner>
    </form>
  </div>
  