<div>
    <img src="assets/left-arrow.svg" (click)='backClicked()' width='50' class="logo">
    <img src="assets/dragon.svg" width='150' class="logoMain">
    <br>
    <h1>Order details:</h1>
</div>
<div class="background">
    <form autocomplete="off" class="order-form">
      <p>
        <mat-form-field class="register-full-width">
          <input name="ID" matInput [(ngModel)]="this.order.id" readonly>
          <mat-hint>ID</mat-hint>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input name="orderStation" matInput [(ngModel)]="this.order.orderStation.address" readonly>
          <mat-hint>Order station</mat-hint>
        </mat-form-field>
        <mat-form-field class="register-full-width" *ngIf="isDelivered">
          <input name="deliverer" matInput [(ngModel)]="this.order.deliverer.lastName" readonly>
          <mat-hint>Deliverer</mat-hint>
        </mat-form-field>
        <mat-form-field class="register-full-width" *ngIf="!isDelivered">
          <mat-label>Choose deliverer</mat-label>
          <mat-select (selectionChange)="selectedValue($event)">
            <mat-option *ngFor="let deliverer of deliverers | async" [value]="deliverer.lastName">
              {{deliverer.firstName}} {{deliverer.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input name="startTime" matInput [(ngModel)]="this.order.startTime" readonly>
          <mat-hint>Start time</mat-hint>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input name="endtime" matInput [(ngModel)]="this.order.endTime" readonly>
          <mat-hint>End time</mat-hint>
        </mat-form-field>
      </p>
      <button mat-raised-button class="button" *ngIf="!isDelivered" (click)="modifyItem()"><span>Save</span></button>
    </form>
  </div>
  