<div class="toolbar" role="banner">
    <button mat-button routerLink="" class="headerMenu">
        Home
    </button>
    <button mat-button routerLink="/dish" class="headerMenu">
        Dishes
    </button>
    <button mat-button routerLink="/order" class="headerMenu">
        Orders
    </button>
    <button mat-button routerLink="/history" class="headerMenu">
        Order history
    </button>
    <button mat-button routerLink="/signup" class="signup">
        Sign Up
    </button>
    <button mat-button routerLink="/signin" class="rightHeader">
        Sign In
    </button>
    
    <!-- <mat-form-field class="login-form">
        <input matInput placeholder="Search">
    </mat-form-field> -->
</div>
