html,
body {
    height:100%;
}

.logo {
    display: block;
    margin: auto;
}

table {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color:#222831;
    border-radius: 5px;
    align-items: center;
    position: relative;
    margin: auto;
}

.button {
    display: inline-block;
    background: #e7ecef;
    border-style: solid;
    border-width: 1px;
    border-color: #30475E;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 185px;
  }

h1 {
    text-align: center;
}

.mat-table {
    background-color: rgb(231, 236, 239);
}

.paginator {
    position: absolute;
    bottom: 50px;
    background-color: rgb(231, 236, 239);
    color: #222831;
}

#footer {
    position:fixed;
    bottom: 0px;
    width:100%;
    height:60px;
    left: 600px;
}

#button {
    margin-right: 5px;
}