<body>
    <img src="assets/dragon.svg" width='150' class="logo">
    <br>
    <h1>Dishes:</h1>
    <br>
    <div class="table">
        
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let data"> {{data.id}} </td>
              </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let data"> {{data.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let data"> {{data.price}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab color="black" id="button" (click)="editRecord(element)"><mat-icon>edit</mat-icon></button>
                  <button mat-mini-fab color="black" (click)="getRecord(element)"><mat-icon>info</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <button mat-raised-button class="button" (click)="addDish()"><span>Add new</span></button>
    </div>
    <div id="footer">
        <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]" class="paginator" showFirstLastButtons>
        </mat-paginator>
    </div>
</body>
